:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --focus-color: #2196f3;
  --accent-color: #212121;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.9;
}

/* header */

.logo {
  color: var(--focus-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-abr {
  color: #000000;
}

.list {
  list-style: none;
}

.site-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}

.auth-nav .contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
  color: var(--focus-color);
}

/* Offers */

.button {
  color: var(--accent-color);
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}

.button:focus,
.button:hover {
  color: var(--primary-white-color);
  background-color: var(--focus-color);
}

/* Jobs */

.section-title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Footer section */

.footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.7;
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer-details {
  color: var(--primary-white-color);
}

.footer-nav {
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-nav:hover,
.footer-nav:focus {
  color: var(--focus-color);
}
